<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center" style="color: white">Please select a course to view project samplings.</h4>
        </div>
    </div>
    <div class="row">
        <!-- Menu for larger devices -->
        <div class="col-md-12 hidden-xs text-center">
            <ul class="pagination" id="courseListings">
                <li id="CSC115" onclick="determineCourse('CSC115');"><a>CSC 115</a></li>
                <li id="CSC215" onclick="determineCourse('CSC215');"><a>CSC 215</a></li>
                <li id="CSC415" onclick="determineCourse('CSC415');"><a>CSC 415</a></li>
                <li id="CSC425" onclick="determineCourse('CSC425');"><a>CSC 425</a></li>
                <li id="CSC495" onclick="determineCourse('CSC495');"><a>CSC 495</a></li>
            </ul>
        </div>
        <!-- Menu for mobile devices -->
        <div class="col-xs-10 col-xs-offset-1 visible-xs-block visible-sm-block">
            <form class="form-group">
                <select class="form-control" onchange="determineCourse(this.value)">
                            <option value="CSC115">CSC 115</option>
                            <option value="CSC215">CSC 215</option>
                            <option value="CSC415">CSC 415</option>
                            <option value="CSC425">CSC 425</option>
                            <option value="CSC495">CSC 495</option>
                        </select>
            </form>
        </div>
    </div>
    <!--End row -->

    <!-- Insert the proper course listing -->
    <!-- Javascript will determine what fills this div.
                    JQuery will load the content of the course's page -->

</div>
<div class="row">
    <div class="col-xs-12">
        <div id="selectedCourseContent">
            <div class='row text-center'>
                <div>
                    <div class="row" ng-repeat="(key, course) in projects">
                        <div class="row" ng-repeat="chunk in course | chunkBy: 2">
                            <div style="display:none;" courseName="{{key}}" class='well col-xs-12  course-listing' ng-repeat="project in chunk" ng-class='{
                                          "col-md-6 col-md-offset-3": project.OnlyProject,
                                          "col-md-4": !project.OnlyProject,
                                          "col-md-offset-1": !project.OnlyProject && project.FirstProject,
                                          "col-md-offset-2": !project.OnlyProject && !project.FirstProject
                                          }'>
                                <a href='/Project/{{project.project_id}}'>
                                    <img class='img-rounded img-responsive' ng-src='{{project.ImageLink}}' />
                                </a>
                                <p class='lead'>
                                    {{project.Title}} {{project.FirstProject}} {{project.OnlyProject}}
                                </p>
                                <p>
                                    {{project.Description}}
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
